
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(236, 226, 207);
}
div#input{
    margin: auto;
    width: 35%;
    padding: 10px;
}

ul#list{
    display: table;
    margin: 0 0 0 32%;
    width: 33.5%;
    cursor: pointer;
}

.strike {
    text-decoration: line-through;
  }

.delete {
    float: right;
    right: 0;
    top: 0;
    cursor: pointer;
  }
